/* =========================
   CONTENEDOR
========================= */
.nosotros-container {
  width: 92%;
  max-width: 1200px;
  margin: 120px auto 80px auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

/* =========================
   RESPONSIVE GLOBAL
========================= */
@media (max-width: 900px) {
  .nosotros-section,
  .nosotros-grid,
  .nosotros-circles {
    grid-template-columns: 1fr;
  }
}