:root{
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
}

html {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

body {
  
  margin: 0;
  min-height: 100vh;
}

/* Oculta barras de desplazamiento en toda la app */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
